@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" dir="rtl">
    <h1>سامانه ی ثبت جدول</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@

</div>

<div class="row" dir="rtl">
    <div class="col-md-4"  dir="rtl">
        @Html.ActionLink("ایجاد جدول جدید", "Index","CreateTable")
    </div>
    <div class="col-md-4"  dir="rtl">
        <a href="#">test1</a>
    </div>
    <div class="col-md-4"  dir="rtl">
        <a href="#">test1</a>
    </div>
</div>
